body{
    background-color: #ecf0f1;
}
.user{
    display: inline-block;
    background-color: #bdc3c7;
    width: 30vw;
    height: 120px;
    border-radius: 3px;
    box-shadow: gray;
    font-style: italic;
    font-size: 20px;
    margin: 5px;
}